body { /*selector : this selector means that we will give style to body tag*/
  /*background-color, color : we call these things 'Property' */
  background-color:#333333;
  color:white; /*can use color code #ffffff instead of 'white' */
}

p{ /*giving style to 'p' tag*/
    color: red;
}
div p { /*means 'p' tag inside 'div' tag*/
    color: blue;
}

h1 {
    font-size: 40px;
    font-weight: normal; /*how thick the words are (normal / bold) */
    color: violet;
}