body { /*selector : this selector means that we will give style to body tag*/
  /*background-color, color : we call these things 'Property' */
  background-color:#333333;
  background-image: url('https://image.freepik.com/free-vector/technology-background-with-blue-abstract-shapes_23-2148219982.jpg');
  background-repeat: repeat-x;
  color:white; /*can use color code #ffffff instead of 'white' */
}

h1{
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: normal; /*25px*/
    font-style: normal;
    font-weight: bold;
}
img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 258px;
    height: 359px;
}
.name h2{
    font-family: 'Nanum Gothic', sans-serif;
    margin-bottom: 1px;
}
.name p{ /*giving style to 'p' tag*/
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 15px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #fff;
    margin-top: 1px;
    width: 50%;
}
